body {
	background-color: green;
}

#info {
	padding-left: 10%;
}

.square {
	width: 30%;
	background-color: black;
	padding-bottom: 30%;
	float: left;
		margin: 1.66%;
}

#container {
	margin: 0 auto;
	max-width: 600px;
}