body {
	border: 20px #bdc3c7 solid;
	width: 80%;
	max-width: 700px;
	padding: 20px;
	margin: auto auto;
	font-family: 'Source Sans Pro', sans-serif;
}

.post {
	
}

.quote {
	border-left: 4px #bdc3c7 dotted;
	padding-left: 5px;
}

.date {
	color: blue;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2rem;
}